body{
    font-family: 'Baloo Tammudu 2', cursive;
}
#top{
    text-align: center;
    padding-top: 30px;
    color: ivory;
    font-size: 20px;
    padding-bottom: 40px;
   }
#cake{
    background-image: url("./assets/landing.jpg");
    background-repeat: no-repeat;
    text-transform: capitalize;
    padding-bottom: 50px;
    font-size: 30px;
    color: white;
}
#logo{
    padding-top:35px;
    text-align: center;
}
.foodlist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;     
}
#first{
         display:table-cell; 
         text-align: center; 
         width: 25% ;  
         background-color: #f25c2a;
}
#five{
    background-color: gainsboro;
    color: black;
    padding: 10px;
}
#six{
    color: white;
}
#second{
    background-image: url("./assets/breakfast.jpg"); width: 25%;
}
#third{
    background-image: url("./assets/lunch.jpg"); width: 25%;
}
#fourth{
    background-image: url("./assets/dinner.jpg"); width: 25%;
}
#second,#third,#fourth{
              display: flex;
              justify-content: space-evenly;
              font-style: italic;
              color: white;
              text-align: center;
              padding-bottom: 0px;
}
.middle{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.fastfood{
    display: flex;
}
#pics{
    display:flex;
    flex-direction: column;
    border: 20px white;
    box-shadow: 5px 5px 5px 5px grey;
}
#fries{
    padding: 20px;
}
.drinks{
    display: flex;
    text-align: right;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cocktails{
    text-align: right;
    padding-right: 20px;
} 
#mojito{
    display: flex;  
    border: 20px white;
    box-shadow: 5px 5px 5px 5px grey;  
}
#buton{
    background-color: white;
    color: #f25c2a;
    border: solid #f25c2a;
    padding:3px;
    border-radius: 8px;
    margin-top: 20px;
}
#menu{
    background-image: url("./assets/foodsBg.jpg");
    padding-bottom: 15px;
    padding-top: 15px;
}
#main{
    padding-top: -5px;
    padding-bottom: -5px;
    width: 70%;
    margin-left: 15%;
    background-color: cornsilk;
}
#table{   
  padding: 5px; 
  border-left:1px solid black ;
  border-right: 1px solid black;
  border-bottom: 1px;
  border-collapse: collapse;
  width: 873px; 
  height: 50px;
  background-color:lightgray;
  font-size: 15px;
}
tr{
    display: flex;
    justify-content: space-around;
}
th{
    padding-right: 150px;
    color: black;
}
a{
    color: #f25c2a;
    text-decoration: unset;
}
th:hover{
    color: #f25c2a;
}
#foods{
    padding-top: 20px;
    display: flex;
    color:#f25c2a;
    justify-content:space-around;
}
#customers{
    padding-top: 10px;
    display: flex;
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 5px 5px 5px 5px grey;
    padding-bottom: 10px;
}

.contact{
    background-image: url("./assets/subscribe.jpg");
    text-align: center;
    color: white;
    padding-top: 30px;

}
.button2{
    background-color: #f25c2a;
    padding-top: 10px;
    color: white;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
}
footer{
    background-color: #f25c2a;
    text-align: center;
    color: white;
    
}
.contact{
    padding-bottom: 0px;
    padding-top: 15px;
}
.fmenu{
    font-size: 20px;
    padding: 0px;
}



  